<ion-header>
  <ion-toolbar style="--background: #ff9800; transition: background-color 0.3s ease-in-out;">
    <!-- Botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color: #424141;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #424141;">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dark-background">
  <div class="outer-container">
    <div class="login-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Registrarse</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form (submit)="register()">
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="nombre" name="nombre" type="text" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input [(ngModel)]="apellido" name="apellido" type="text" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">RUT</ion-label>
              <ion-input [(ngModel)]="rut" name="rut" type="text" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Fecha de Nacimiento</ion-label>
              <br>
              <ion-input [(ngModel)]="fechaNacimiento" name="fechaNacimiento" type="date" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Género</ion-label>
              <ion-select [(ngModel)]="genero" name="genero" required>
                <ion-select-option value="masculino">Masculino</ion-select-option>
                <ion-select-option value="femenino">Femenino</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
            </ion-item>

            <ion-button expand="full" type="submit" style="--background: #ff9800; transition: background-color 0.3s ease-in-out;">Registrarse</ion-button>
            <br>
            <p style="text-align:center;">¿Ya tienes cuenta? <a routerLink="/login">Iniciar sesión</a></p>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>