<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>

    <ion-grid class="ion-padding">

      <!-- Title -->
      <ion-row>
        <ion-col>
          <h1 class="ion-text-center text-purple">
            Talleres para Personas Mayores de Oldera
          </h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Description Section -->
        <ion-col size-md="8" size-sm="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>¿Cómo accedo al servicio?</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                A través de un proceso de inscripción que se lleva a cabo en el
                propio Centro Integral de la Persona Mayor. Debes presentar
                cédula de identidad y tarjeta vecino.
              </p>
              <p><strong>Fechas próximas a confirmar.</strong></p>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Requisitos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ul>
                <li>Mayor de 60 años</li>
                <li>Tener tarjeta vecino</li>
              </ul>
              <p>Puedes acceder sólo a 2 talleres al año.</p>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title>Costo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Servicio gratuito</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Contact Section -->
        <ion-col size-md="4" size-sm="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Contactos</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Dirección:</strong> 712 Red Bark Ln en Henderson, Nevada.</p>
              <p>
                <strong>Horario de atención:</strong> Lunes a jueves 9 a 13:30
                hrs y de 15 a 17 hrs. Viernes hasta las 16 hrs.
              </p>
              <p><strong>Teléfono:</strong> 4141 </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">
        © 2024 OldEea. Todos los derechos reservados.
      </ion-title>
    </ion-toolbar>
  </ion-footer>
