.dark-background {
  --background: #121212; /* Fondo oscuro */
}

.ion-padding {
  padding: 16px;
}

.text-orange {
  color: #ff9800; /* Naranja */
}

ion-card {
  margin-bottom: 20px;
  --background: #1e1e1e; /* Fondo ligeramente más claro */
  transition: background-color 0.3s ease-in-out;
}

ion-card-title {
  color: #ff9800; /* Naranja */
  transition: color 0.3s ease-in-out;
}

ion-card-content p,
ion-card-content ul,
ion-card-content li {
  color: #ffffff; /* Texto blanco */
}

ion-item {
  --background: #1e1e1e; /* Fondo ligeramente más claro */
  transition: background-color 0.3s ease-in-out;
}

ion-label {
  color: #ffffff; /* Texto blanco */
}

ion-input {
  color: #ffffff; /* Texto blanco */
}

ion-button {
  --background: #ff9800; /* Naranja */
  --color: #ffffff; /* Texto blanco */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a {
  color: #2196f3; /* Azul */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #4caf50; /* Verde */
}